<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="CocosSharpGame1.Droid" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="27" />
	<application android:label="CocosSharpGame1.Droid" android:icon="@drawable/icon"></application>
</manifest>